<div>
    <h1>Hello Welcome </h1>
    <h3>Create An Account</h3>
    <form (ngSubmit)="signUp()">
        <div>
            <label for="username">Username</label>
            <input formControlName="username" type="text" required>
            <label for="password">Password</label>
            <input formControlName="password" type="password">
        </div>
        <button>Submit</button>
        <span>Already have an account?
            <a routerLink="/login">login</a></span>
    </form>
</div>
